nodred flow.txt
{
  "_id": "nodereductyn/flow",
  "_rev": "21-ca0dc7dd1fb85df88cf2ad685d0b3f1f",
  "flow": [
    {
      "id": "83ed44fa.553028",
      "type": "tab",
      "label": "Flow 1",
      "disabled": false,
      "info": ""
    },
    {
      "id": "6006e54a.dfc17c",
      "type": "tab",
      "label": "Flow 2",
      "disabled": false,
      "info": ""
    },
    {
      "id": "b7942f4a.263ad",
      "type": "ui_tab",
      "z": "",
      "name": "Home",
      "icon": "dashboard",
      "disabled": false,
      "hidden": false
    },
    {
      "id": "833538de.65bb78",
      "type": "ui_group",
      "z": "",
      "name": "Default",
      "tab": "b7942f4a.263ad",
      "order": 1,
      "disp": true,
      "width": "6",
      "collapse": false
    },
    {
      "id": "66e3db60.bc8ab4",
      "type": "ui_base",
      "theme": {
        "name": "theme-light",
        "lightTheme": {
          "default": "#0094CE",
          "baseColor": "#0094CE",
          "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
          "edited": true,
          "reset": false
        },
        "darkTheme": {
          "default": "#097479",
          "baseColor": "#097479",
          "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
          "edited": false
        },
        "customTheme": {
          "name": "Untitled Theme 1",
          "default": "#4B7930",
          "baseColor": "#4B7930",
          "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        },
        "themeState": {
          "base-color": {
            "default": "#0094CE",
            "value": "#0094CE",
            "edited": false
          },
          "page-titlebar-backgroundColor": {
            "value": "#0094CE",
            "edited": false
          },
          "page-backgroundColor": {
            "value": "#fafafa",
            "edited": false
          },
          "page-sidebar-backgroundColor": {
            "value": "#ffffff",
            "edited": false
          },
          "group-textColor": {
            "value": "#1bbfff",
            "edited": false
          },
          "group-borderColor": {
            "value": "#ffffff",
            "edited": false
          },
          "group-backgroundColor": {
            "value": "#ffffff",
            "edited": false
          },
          "widget-textColor": {
            "value": "#111111",
            "edited": false
          },
          "widget-backgroundColor": {
            "value": "#0094ce",
            "edited": false
          },
          "widget-borderColor": {
            "value": "#ffffff",
            "edited": false
          },
          "base-font": {
            "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
          }
        },
        "angularTheme": {
          "primary": "indigo",
          "accents": "blue",
          "warn": "red",
          "background": "grey"
        }
      },
      "site": {
        "name": "Node-RED Dashboard",
        "hideToolbar": "false",
        "allowSwipe": "false",
        "lockMenu": "false",
        "allowTempTheme": "true",
        "dateFormat": "DD/MM/YYYY",
        "sizes": {
          "sx": 48,
          "sy": 48,
          "gx": 6,
          "gy": 6,
          "cx": 6,
          "cy": 6,
          "px": 0,
          "py": 0
        }
      }
    },
    {
      "id": "f2f2649a.0d0d98",
      "type": "debug",
      "z": "83ed44fa.553028",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 502,
      "y": 464,
      "wires": []
    },
    {
      "id": "ca2a2a83.3f8318",
      "type": "ui_form",
      "z": "83ed44fa.553028",
      "name": "",
      "label": "Life Expectancy Predictions",
      "group": "833538de.65bb78",
      "order": 0,
      "width": 0,
      "height": 0,
      "options": [
        {
          "label": "Percentage Expenditure",
          "value": "a",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Income Comp Of Resources",
          "value": "b",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "HIV",
          "value": "c",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Adult Mortality",
          "value": "d",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Developing",
          "value": "e",
          "type": "switch",
          "required": true,
          "rows": null
        },
        {
          "label": "Infant Deaths",
          "value": "f",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Alcohol",
          "value": "g",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "HepatitisB",
          "value": "h",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Under Five Deaths",
          "value": "i",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Polio",
          "value": "j",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Total Expenditure",
          "value": "k",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Diphtheria",
          "value": "l",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "GDP",
          "value": "m",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Population",
          "value": "n",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Thinness 1to19 years",
          "value": "o",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Thinness 5to9 years",
          "value": "p",
          "type": "number",
          "required": true,
          "rows": null
        },
        {
          "label": "Schooling",
          "value": "q",
          "type": "number",
          "required": true,
          "rows": null
        }
      ],
      "formValue": {
        "a": "",
        "b": "",
        "c": "",
        "d": "",
        "e": false,
        "f": "",
        "g": "",
        "h": "",
        "i": "",
        "j": "",
        "k": "",
        "l": "",
        "m": "",
        "n": "",
        "o": "",
        "p": "",
        "q": ""
      },
      "payload": "",
      "submit": "Predict",
      "cancel": "Edit",
      "topic": "",
      "x": 146.5,
      "y": 263,
      "wires": [
        [
          "c6447bc3.b96b98"
        ]
      ],
      "l": false
    },
    {
      "id": "c6447bc3.b96b98",
      "type": "function",
      "z": "83ed44fa.553028",
      "name": "pre token",
      "func": "global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\n\nvar apikey = \"WGdvuJ8NXNTXuLbiwUuNhjg0HxnRfXrKU6u-I5xJWJ77\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 278.5,
      "y": 260,
      "wires": [
        [
          "2a45cc77.b1bde4"
        ]
      ],
      "l": false
    },
    {
      "id": "2a45cc77.b1bde4",
      "type": "http request",
      "z": "83ed44fa.553028",
      "name": "",
      "method": "POST",
      "ret": "obj",
      "paytoqs": false,
      "url": "https://iam.cloud.ibm.com/identity/token",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "basic",
      "x": 425.5,
      "y": 190,
      "wires": [
        [
          "e1e2ae4.1387d5"
        ]
      ],
      "l": false
    },
    {
      "id": "e1e2ae4.1387d5",
      "type": "function",
      "z": "83ed44fa.553028",
      "name": "",
      "func": "var token = msg.payload.access_token;\nvar instance_id = \"08b6a241-b518-4c54-9dff-fe8d45e8b956\";\nmsg.headers = {'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token, \"ML-Instance-ID\":instance_id}\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\n\nmsg.payload = {\"fields\":['winsorized_Life_Expectancy', 'winsorized_Income_Comp_Of_Resources','winsorized_HIV', 'winsorized_Adult_Mortality', 'Developing'],\"values\": [[a,b,c,d,e]]};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 489.5,
      "y": 300,
      "wires": [
        [
          "c3e77ca0.12c34"
        ]
      ],
      "l": false
    },
    {
      "id": "c3e77ca0.12c34",
      "type": "http request",
      "z": "83ed44fa.553028",
      "name": "",
      "method": "POST",
      "ret": "obj",
      "paytoqs": false,
      "url": "https://us-south.ml.cloud.ibm.com/v3/wml_instances/08b6a241-b518-4c54-9dff-fe8d45e8b956/deployments/6e605eca-8eaf-4088-9061-19848746457f/online",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 631.5,
      "y": 228,
      "wires": [
        [
          "f2f2649a.0d0d98",
          "9cb170bd.528f4"
        ]
      ],
      "l": false
    },
    {
      "id": "9cb170bd.528f4",
      "type": "function",
      "z": "83ed44fa.553028",
      "name": "",
      "func": "msg.payload = msg.payload.values[0][0];\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 657.5,
      "y": 108,
      "wires": [
        [
          "53a335f8.46610c"
        ]
      ],
      "l": false
    },
    {
      "id": "53a335f8.46610c",
      "type": "ui_text",
      "z": "83ed44fa.553028",
      "group": "833538de.65bb78",
      "order": 1,
      "width": 0,
      "height": 0,
      "name": "",
      "label": "Predictions",
      "format": "{{msg.payload}}",
      "layout": "row-spread",
      "x": 732.5,
      "y": 162,
      "wires": [],
      "l": false
    },
    {
      "id": "5ef0ee3d.c3b23",
      "type": "inject",
      "z": "6006e54a.dfc17c",
      "name": "",
      "topic": "",
      "payload": "Eswar",
      "payloadType": "str",
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "x": 190.5,
      "y": 226,
      "wires": [
        [
          "9129f570.68da88"
        ]
      ],
      "l": false
    },
    {
      "id": "9129f570.68da88",
      "type": "debug",
      "z": "6006e54a.dfc17c",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "x": 379.5,
      "y": 247,
      "wires": [],
      "l": false
    }
  ]
}